
<img src="<%= asset_path('bike_logo.png') %>" alt="Company Logo" />
<h1 class="headinh">Welcome To Vaahan !</h1>

<div class="container2">
  <% if user_signed_in? %>
    <div class="welcome-message">
      Welcome, <%= current_user.email %>
    </div>
    <div class="button-container">
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn' %>
    </div>
  <% else %>
    <div class="button1">
      <%= button_to "Sign In", new_user_session_path, class: 'btn' %>
    </div>

    <div class="button2">
      <%= button_to "Sign up", new_registration_path(:user),method: :get %><br />
    </div>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
