<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-md-12">
      <%= form_with url: search_service_centers_path, method: :get, local: true do |form| %>
        <div class="input-group input-group-lg">
          <%= form.text_field :location, class: 'form-control', placeholder: 'Search for a city...' %>
          <div class="input-group-append">
            <%= form.submit 'Search', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Service Centers</h2>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Service Center Name</th>
            <th>Location</th>
            <th>Total Slots</th>
          </tr>
        </thead>
        <tbody>
          <% @service_centers.each do |service_center| %>
            <tr>
              <td><%= link_to service_center.name, service_owner_service_center_path(service_center.service_owner, service_center) %></td>
              <td><%= service_center.location %></td>
              <td><%= service_center.total_slots %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
