<!DOCTYPE html>
<html>
<head>
  <title>Service Center Details</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <!-- Bootstrap CSS from CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
  
  <!-- Font Awesome CSS from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Other stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
  <!-- Chart.js Library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <style>
    body {
      padding-top: 20px;
    }
    .main-content {
      width: 75%;
      float: left;
    }
    .side-content {
      width: 25%;
      float: right;
      position: fixed;
      right: 20px;
      top: 125px; /* Adjusted to avoid overlapping with navbar */
      height: calc(100% - 80px); /* Adjust height based on button size and top offset */
      overflow-y: auto;
    }
    .chart-container {
      width: 100%;
      display: none;
      margin-bottom: 20px;
    }
    .chart-container canvas {
      width: 100% !important;
      height: 100% !important;
    }
    .toggle-button {
      position: fixed;
      top: 100px;
      right: 20px;
      z-index: 1000;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 12px; /* Adjust font size to fit text */
      text-align: center; /* Center align the text */
      padding: 10px; /* Adjust padding for better text fit */
    }
    .ratings-list {
      max-height: calc(100% - 60px); /* Adjust height based on button size */
      overflow-y: auto;
    }
    .rating-star {
      color: gold;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="main-content">
      <!-- Header with Service Center Name -->
      <div class="row">
        <div class="col-md-12">
          <h1><%= @service_center.name.capitalize %></h1>
        </div>
      </div>
      <hr>

      <!-- Slots Section -->
      <h2>Slots</h2>
      <% if current_user.role == 'service_owner' || current_user.role == 'service_owner'%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Service Type</th>
              <th>Client/User</th>
            </tr>
          </thead>
          <tbody>
            <% @slots.each do |slot| %>
              <tr>
                <td><%= slot.booking_date %></td>
                <td><%= slot.state(:status) %></td>
                <td><%= slot.service_type_label %></td>
                <td>
                  <% if slot.client_user %>
                    <%= link_to slot.client_user.name, service_owner_service_center_slot_path(@service_owner, @service_center, slot) %>
                  <% else %>
                    <%= slot.service_center.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% unless @slots.present? %>
          <%= 'Slots Not Present'%>
        <%end%>
      <%else%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Service Type</th>
              <th>Client/User</th>
            </tr>
          </thead>
          <tbody>
            <% @slots.where(client_user_id: current_user.id).each do |slot| %>
              <tr>
                <td><%= slot.booking_date %></td>
                <td><%= slot.state(:status) %></td>
                <td><%= slot.state(:service_type) %></td>
                <td>
                  <% if slot.client_user %>
                    <%= link_to slot.client_user.name, service_owner_service_center_slot_path(@service_owner, @service_center, slot) %>
                  <% else %>
                    <%= slot.service_center.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% unless @slots.where(client_user_id: current_user.id).present? %>
          <%= 'Slots Not Present'%>
        <%end%>
      <%end%>
      <hr>

      <!-- Client User Specific Sections -->
      <% if current_user.role == 'client_user' %>
        <h2>Bikes</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Info</th>
              <th>Status</th>
              <th>Rate</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @service_center.bikes.each do |bike| %>
              <% if bike.status == 'available' %>
                <tr>
                  <td><%= bike.info.capitalize %></td>
                  <td><%= bike.state(:status) %></td>
                  <td><%= bike.rate %></td>
                  <td><%= link_to 'View', service_owner_service_center_bike_path(@service_owner, @service_center, bike) %></td>
                </tr>          
              <% end %>
            <% end %>
          </tbody>
        </table>
        <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#slotForm" aria-expanded="false" aria-controls="slotForm">
          Add Slot
        </button>
        <div class="collapse mt-3" id="slotForm">
          <%= render 'slots/form' %>
        </div>
        <% if @slots.any? { |slot| slot.client_user_id == current_user.id } %>
          <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#ratingForm" aria-expanded="false" aria-controls="ratingForm">
            Add Rating
          </button>
          <div class="collapse mt-3" id="ratingForm">
            <%= render 'ratings/form' %>
          </div>
        <% end %>
      <% end %>

      <!-- Service Owner and Admin Specific Sections -->
      <% if current_user.role == 'service_owner' || current_user.role == 'admin' %>
        <h2>Bikes</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Info</th>
              <th>Status</th>
              <th>Rate</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @service_center.bikes.each do |bike| %>
              <tr>
                <td><%= bike.info %></td>
                <td><%= bike.status %></td>
                <td><%= bike.rate %></td>
                <td><%= link_to 'View', service_owner_service_center_bike_path(@service_owner, @service_center, bike) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#updateServiceCenterForm" aria-expanded="false" aria-controls="updateServiceCenterForm">
          Update Service Center
        </button>
        <div class="collapse mt-3" id="updateServiceCenterForm">
          <%= form_with model: [@service_owner, @service_center], local: true do |form| %>

            <div class="form-group2">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group2">
              <%= form.label :location %>
              <%= form.text_field :location, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :total_slots, "Total Slots" %>
              <%= form.number_field :total_slots, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.submit "Update Service Center", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>

        <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#addBikeForm" aria-expanded="false" aria-controls="addBikeForm">
          Add Bike
        </button>
        <div class="collapse mt-3" id="addBikeForm">
          <%= render 'bikes/form' %>
        </div>
      <% end %>
    </div>

    <!-- Ratings Section -->
    <div class="side-content">
      <button class="toggle-button" onclick="toggleRevenueChart()">Revenue</button>
      <% if current_user.role == 'service_owner' || current_user.role == 'admin' %>
        <div class="chart-container">
          <canvas id="revenueChart"></canvas>
        </div>
      <% end %>
      <h2>Ratings</h2>
      <div class="ratings-list">
        <ul class="list-group">
          <% @service_center.ratings.each do |rating| %>
            <%if rating.client_user.present?%>
              <li class="list-group-item">
                <strong><%= rating.client_user.name %>:</strong>
                <% (1..5).each do |i| %>
                  <% if i <= rating.star.to_i %>
                    <span class="fa fa-star rating-star"></span>
                  <% else %>
                    <span class="fa fa-star"></span>
                  <% end %>
                <% end %>
                <p><%= rating.comments %></p>
              </li>
            <%end%>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  
  <!-- Chart.js Script -->
  <% if current_user.role == 'service_owner' || current_user.role == 'admin' %>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById('revenueChart').getContext('2d');
        var revenueChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ['Today', 'This Month'],
            datasets: [{
              label: 'Revenue',
              data: [<%= @todays_revenue %>, <%= @this_months_revenue %>],
              backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
              borderColor: ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              tooltip: {
                callbacks: {
                  label: function(tooltipItem) {
                    return tooltipItem.label + ': $' + tooltipItem.raw.toFixed(2);
                  }
                }
              }
            }
          }
        });
      });

      function toggleRevenueChart() {
        var chartContainer = document.querySelector('.chart-container');
        chartContainer.style.display = chartContainer.style.display === 'none' ? 'block' : 'none';
      }
    </script>
  <% end %>
</body>
</html>




